* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.zc {
    width: 927px;
    height: 1000px;
    background-color: white;
    margin: auto;
}

.imgB {
    width: 100%;
    height: 350px;
    background-color: white;
    margin-top: 20px;
}

.textI {
    text-indent: 33px;
}

.btn:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

.action{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(90deg, #02fed4, #43e503);
    animation: move 3s infinite alternate;
    cursor: pointer;
}

.msg--footer {
    width: 100%;
    height: 120px;
    background-color: #48d0a2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.item {
    display: borderline;
}
@keyframes move {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(90deg);
    }

}