@import url(./public.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex_box {
  width: 80%;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex_box>.item {
  margin-left: 10px;
}

.LogoAndSearch {
  width: 80%;
  height: 120px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LogoAndSearch>.logo {
  height: 120px;
  display: flex;
  align-items: center;
}

.SearchBox {
  width: 230px;
  height: 40px;
  border: 1px solid green;
  display: flex
}

.SearchBox>button {
  width: 60px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: green;
  color: white;
  cursor: pointer;
}

.nav_box {
  width: 100%;
  height: 50px;
  background-color: green;
  color: white;
}

.nav_box>ul {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  width: 160px;
  height: 50px;
  color: white;
  background-color: green;
  text-align: center;
  line-height: 50px;
  z-index: 666666;
}

li:hover {
  background-color: rgb(0, 255, 136);
  color: rgb(251, 255, 235);
  cursor: pointer;
}

ol {
  height: 0;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top center;
  transition: all 0.5s ease;
}

li:hover>ol {
  height: auto;
  transform: scaleY(1);
}

.banner {
  width: 100%;
  height: 500px;
  position: relative;
  ;
}

.banner>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.img_active {
  z-index: 2;
}

.btnL {
  width: 100px;
  height: 100px;
  color: white;
  background-color: gainsboro;
  border-radius: 50%;
  position: absolute;
  z-index: 666;
  top: calc(50% - 50px);
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  cursor: pointer;
  right: 0;
}

.btnR {
  width: 100px;
  height: 100px;
  color: white;
  background-color: gainsboro;
  border-radius: 50%;
  position: absolute;
  z-index: 666;
  top: calc(50% - 50px);
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  cursor: pointer;
  transform: rotateY(180deg);
  left: 0;
}

.btnL:hover {
  color: green;
  background-color: silver;
  cursor: pointer;
}

.btnR:hover {
  color: green;
  background-color: silver;
  cursor: pointer;
  transform: rotateY(180deg);
}

.bigporintbox {
  margin: auto;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 10px;
}

.miniporintbox {
  width: 10%;
  height: 100%;
  display: flex;
  margin: auto;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.porint {
  width: 20px;
  height: 20px;
  gap: 20px;
  background-color: silver;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.nav_down {
  width: 100%;
  height: 50px;
  background-color: green;
  color: white;
}

.nav_downmessage {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_downmessageL {
  width: 50%;
  height: 100%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_downmessageR {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_downmessageRminibox {
  width: 15%;
  height: 100%;
  font-size: 12px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}

.nav_downmessageRminibox:hover {
  transform: scale(1.2);
}

.nav_downmessageRminibox>span {
  margin-top: 10px;
}

.icon-24gf-newspaper:before {
  color: yellow;
  font-size: 30px;
  content: "\e8b3";
}

.newspapermsg {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
}

.newspapermsgL {
  width: 48%;
  height: 600px;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}

.newspaperTittleL {
  width: 80%;
  height: 10%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.newspaperTittleLL {
  display: flex;
  width: 50%;
  height: 100%;
  color: black;
  font-size: 25px;
  font-weight: bold;
  align-items: flex-end;
  justify-content: flex-start;
}

.newspaperTittleLR {
  width: 50%;
  height: 100%;
  color: green;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.msgTopL {
  width: 80%;
  height: 25%;
  display: flex;
}

.msgTopLL {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.msgTopLR {
  width: 70%;
  height: 100%;
  font-size: 10px;
  color: black;
}

.msgMidL {
  width: 80%;
  height: 25%;
  display: flex;
}

.msgMidLL {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.msgMidLR {
  width: 70%;
  height: 100%;
  font-size: 10px;
  color: black;
}

.msgLowL {
  width: 80%;
  height: 25%;
  display: flex;
}

.msgLowLL {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.msgLowLR {
  width: 70%;
  height: 100%;
  font-size: 10px;
  color: black;
}

.newspapermsgR {
  width: 48%;
  height: 600px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}

.newspaperTittleR {
  width: 80%;
  height: 10%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.newspaperTittleRL {
  display: flex;
  width: 50%;
  height: 100%;
  color: black;
  font-size: 25px;
  font-weight: bold;
  align-items: flex-end;
  justify-content: flex-start;
}

.newspaperTittleRR {
  width: 50%;
  height: 100%;
  color: green;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.msgTopR {
  width: 80%;
  height: 25%;
  display: flex;
}

.msgTopRL {
  width: 20%;
  height: 80%;
  display: flex;
  background-color: green;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.msgTopRR {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 25px;
}

.msgMidR {
  width: 80%;
  height: 25%;
  display: flex;
}

.msgMidRL {
  width: 20%;
  height: 80%;
  display: flex;
  background-color: green;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.msgMidRR {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 25px;
}

.msgLowR {
  width: 80%;
  height: 25%;
  display: flex;
}

.msgLowRL {
  width: 20%;
  height: 80%;
  display: flex;
  background-color: green;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.msgLowRR {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 25px;
}

.msgTopR:hover>.msgTopRL {
  background-color: white;
  cursor: pointer;
  border: 1px solid green;
  color: black;
}

.msgTopR:hover>.msgTopRR {
  color: green;
}

.msgTopRL:hover {
  background-color: white;
  cursor: pointer;
  border: 1px solid green;
  color: black;
}

.msgMidR:hover>.msgMidRL {
  background-color: white;
  cursor: pointer;
  border: 1px solid green;
  color: black;
}

.msgMidR:hover>.msgMidRR {
  color: green;
}

.msgMidRL:hover {
  background-color: white;
  cursor: pointer;
  border: 1px solid green;
  color: black;
}

.msgLowR:hover>.msgLowRL {
  background-color: white;
  cursor: pointer;
  border: 1px solid green;
  color: black;
}

.msgLowR:hover>.msgLowRR {
  color: green;
}

.msgLowRR:hover {
  background-color: white;
  cursor: pointer;
  border: 1px solid green;
  color: black;
}

.msgTopRR:hover {
  background-color: white;
  cursor: pointer;
  border: 1px solid green;
  color: green
}

.msgMidRR:hover {
  background-color: white;
  cursor: pointer;
  border: 1px solid green;
  color: green
}

.msgLowRL:hover {
  background-color: white;
  cursor: pointer;
  border: 1px solid green;
  color: green
}

.msgTeacher {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.msgTeacherTittle {
  width: 100%;
  height: 80px;
  display: flex;
}

.msgTeacherTittleBox {
  display: flex;
  width: 20%;
  height: 80%;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
}

.msgTeacherTittleL {
  width: 50%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: green;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.msgTeacherTittleR {
  width: 50%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
  border: 2px solid green;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.msgTeacherCard {
  display: flex;
  width: 85%;
  height: 300px;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: auto;
}

.im {
  height: 250px;
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.msgTeacherCardZww {
  width: 25%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  box-shadow: grey 0px 0px 10px;
}

.ZwwL {
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
}

.ZwwR {
  color: black;
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  flex-direction: column;
}

.msgTeacherCardLls {
  width: 25%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  box-shadow: grey 0px 0px 10px;
}

.LlsL {
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  background-color: lightpink;
}

.LlsR {
  color: black;
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  flex-direction: column;
}

.msgTeacherCardLm {
  width: 25%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  box-shadow: grey 0px 0px 10px;
}

.LmL {
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
}

.LmR {
  color: black;
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  flex-direction: column;
}

.XYFC {
  display: flex;
  width: 100%;
  height: 150px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.XYFCMSG {
  display: flex;
  width: 20%;
  height: 100%;
  font-size: 30px;
  font-weight: 600;
  color: black;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.LostP {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 200px 200px;
  gap: 8px;
  overflow: hidden;
  /* Ensure no overflow */
}

.item {
  background-color: skyblue;
  transition: transform 0.3s ease, z-index 0.3s ease;
  position: relative;
  cursor: pointer;
}

.item:hover {
  transform: scale(1.1);
  /* Scale up on hover */
  z-index: 10;
  /* Bring the hovered item to the front */
}

.item:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.item:nth-child(2) {
  grid-row: 1 / 3;
}

.item:nth-child(5),
.item:nth-child(7) {
  grid-column: 6 / 8;
}

.item:nth-child(6) {
  grid-column: 4 / 6;
}

.ap {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ad {
  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly
}

.ap1 {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  background: white;
  width: 30%;
  height: 80%;
  display: flex;
  align-items: center;
  padding: 20px;
}

.ap2 {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  background: white;
  width: 30%;
  height: 80%;
  display: flex;
  align-items: center;
  padding: 20px;
}

.ap3 {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  background: white;
  width: 30%;
  height: 80%;
  display: flex;
  align-items: center;
  padding: 20px;
}

.im {
  height: 250px;
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: black;
}

.bnbn {
  font-weight: 800;
}

.msgdown {
  width: 100%;
  height: 200px;
 background-color: rgb(45, 154, 54);
  display: flex;
  align-items: center;
  justify-content: center;

}

.msgdownL {
  width: 30%;
  height: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.msgdownR {
  display: flex;
  width: 30%;
  height: 80%;
}
.msgdownRL{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.msgdownRR{
  width:50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
